<div class="m-advantages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <h1 class="title">OUR ADVANTAGES</h1>
                <div class="description">A large selection of tools and a convenient system,
                    which will cope with each user.
                </div>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/percent.png" alt="">
                    </div>
                    <div class="advantage__description">Earn up to
                        60% commission
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/conversion.png" alt="">
                    </div>
                    <div class="advantage__description">High conversion rates</div>
                </div>
            </div>
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/license.png" alt="">
                    </div>
                    <div class="advantage__description">Only licensed
                        casinos
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/radar.png" alt="">
                    </div>
                    <div class="advantage__description">Best
                        tracking tools
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/payout-icon.png" alt="">
                    </div>
                    <div class="advantage__description">Instant payouts</div>
                </div>
            </div>
            <div class="col-4">
                <div class="advantage">
                    <div class="advantage__icon">
                        <img src="img/sign-up.png" alt="">
                    </div>
                    <div class="advantage__description">Sub-affiliate Program</div>
                </div>
            </div>
        </div>
    </div>
</div>