<div class="m-contact-us">
    <div class="container">
        <h1 class="title">Contact Us</h1>
        <div class="row justify-content-center">
            <div class="col-4">
                <form method="post">
                    <input class="contact-us__input" placeholder="Your mail" type="text">
                    <input class="contact-us__input" placeholder="Your name" type="text">
                    <textarea class="contact-us__textarea" name="" id="" cols="30" rows="10"></textarea>
                    <button type="button" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>