<div class="m-footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-4">
                <div class="copyright">
                    &copy; 2015-2018 Affiliate Program
                </div>
            </div>
            <div class="col-auto">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">send message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">our advantages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">registration</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>